.image__upload{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 1rem;
  height: 150px;
  border: 2px dashed rgb(204, 235, 255);
  background-color: rgb(243, 251, 255);
  margin-bottom: 2rem;
  ion-icon{
    font-size: 2rem;
  }
}
h2{
  font-weight: bold;
  font-size: 1.2rem;
}
